@media all and (max-width: 767px) {
  body {
    background-color: rgb(163, 177, 198, 0.6);
    width: 100vw;
    color: black;
  }
  body:after {
    content: "Sorry, It's not support small screen, yet. Please use at the desktop🙏";
    font-size: 3rem;
    font-weight: 900;
    font-family: "Rubik", sans-serif;
  }
  h1,
  span,
  div {
    display: none;
  }
}
@media all and (min-width: 768px) {
  body {
    background-color: #e0e5ec;
    position: relative;
    font-family: "Rubik", sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 3rem;
    -ms-user-select: none; /*text drag*/
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    content: "How long will you sit on a chair?";
    font-weight: 900;
    text-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.884);
    color: rgb(163, 177, 198, 0.6);
    text-align: center;
  }
  .move-text {
    animation: move-text ease-out 1s both; /*reverse*/
  }
  @keyframes move-text {
    to {
      top: 10%;
      left: 20%;
      font-size: 1rem;
    }
  }
  .hour-button-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 150px); /*  */
    justify-content: space-evenly;
  }
  .move-button {
    animation: move-button ease-out 1s both;
  }
  @keyframes move-button {
    to {
      top: 10%;
      left: 80%;
      scale: (0.9);
    }
  }
  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  /* hour button */
  label,
  button {
    font-size: 2.5rem; /**/
    line-height: 6rem; /**/
    background-color: #e0e5ec;
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5);
    font-weight: 900;
    color: rgba(163, 177, 198, 0.836);
    text-align: center;
    width: 100px; /**/
    height: 100px; /**/
    border-radius: 50%;
  }
  input[type="radio"]:focus + label {
    border-radius: 50%;
    color: white;
    background: #b0b0b0;
    box-shadow: inset 8px 8px 16px #9b9b9b, inset -8px -8px 16px #c5c5c5;
  }
  #countdown-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vw;
    font-weight: 900;
    text-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.884);
    color: rgb(163, 177, 198, 0.6);
    text-align: center;
    display: none;
  }
  .activate-button-area {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    grid-template-columns: repeat(2, 150px); /*  */
    justify-content: space-evenly;
  }
  .pushButton,
  .reset-button:active {
    color: white;
    background: #b0b0b0;
    box-shadow: inset 8px 8px 16px #9b9b9b, inset -8px -8px 16px #c5c5c5;
  }
}
